<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{general/fragmentos :: head}"/>
<body>
<div class="hero-section">
    <header th:replace="~{general/fragmentos :: header}"/>
    <section th:replace="~{general/fragmentos :: animacion}"/>
</div>

<div id="page-content" class="page-content">
    <section th:replace="~{general/fragmentos :: boda}"/>

    <section th:replace="~{general/fragmentos :: versiculo}"/>

    <section th:replace="~{general/fragmentos :: nosotros}"/>

    <section th:replace="~{general/fragmentos :: vestimenta}"/>

    <section th:replace="~{general/fragmentos :: regalos}"/>

    <section th:replace="~{general/fragmentos :: rsvp}"/>

    <footer th:replace="~{general/fragmentos :: footer}"/>
</div>
</body>
</html>